---
import MainLayout from "../layout/MainLayout.astro"
import '../styles/global.css'
---

<MainLayout title="About">
    <h1>About Page</h1>
</SubLayout>

<style is:global>
    h1 {
        color: rgb(90, 240, 76);
    }
</style>