---
import MainLayout from "../layout/MainLayout.astro"
import '../styles/global.css'
---

<MainLayout title="Astro">
	<h1 id="index_h1"></h1>
</MainLayout>

<script>
	const p = document.querySelector("#index_h1")
	p.textContent="hi2"
</script>