---
const { title } = Astro.props;
import Button from "../components/Button";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
	</head>
	<body>
        <slot>
            <h1>Deafault</h1>
        </slot>
        <Button client:visible/>
	</body>
</html>